.photo-list {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  .photo-list__item {
    width: 25%;
    .photo-list__image {
      width: 100%;
      max-height: 426px;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
