.links {
  display: flex;
  align-items: center;
  gap: 50px;
  .links__item {
    color: #1d1d1d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.5%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    .links__link-button {
      background: none;
      border: none;
      color: #1d1d1d;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 88.5%;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: #e37099;
      }
    }
    &.links__item-bold {
      color: #1d1d1d;
      font-size: 70px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.4px;
    }
  }
}
