.pictures {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  .pictures__list-wrapper {
    margin-top: 70px;
  }
  .pictures__switch-list {
    margin-top: 30px;
  }
}
